html, body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    background-color:#616c7d;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer {
    background-color: black;
    color: white;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    flex-shrink: 0; /* Zorg ervoor dat de footer niet krimpt */
}

/* Nav Styling */

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

/* End Nav Styling */



.progress-bar {
    margin-bottom: 40px;
    margin-left: 50px;
}

svg {
    transform: rotate(-90deg);
    /* Rotate to start the progress from the top */
}

circle {
    transition: stroke-dashoffset 1s ease-in-out;
}


.main {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.textbox {
    width: 50%;
    /* Ensure the container of the textarea takes up full width */
}

textarea {
    height: 250px;
    width: 400px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
}

.footer-content p {
    margin: 0;
    font-size: 14px;
}

.socials {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
}

.socials li {
    display: inline-block;
    margin: 0 10px;
}

.socials a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.socials a:hover {
    color: #ff4081;
}

.container {
    display: flex;
    text-align: center;
    flex-direction: row-reverse;
    margin-bottom: 100px;
    align-items: center;
}

.container p{
    max-width: 500px;
    padding: 10px;
    background-color: rgb(231, 226, 226);
}


#prompt {

    width: 300px;
    height: 30px;

}
#myButton {
    width: 250px;
    margin-left: 30px;
}

#forms {
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
}

#myButton:hover {
    transition: 0.3s;
    cursor: pointer;
    text-shadow: 2px 2px 5px #616c7d;
    background-color: #bebfc2;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.Score {
    display: flex;
    flex-direction: column;
}

#response{
    margin-left: 50px;
}

.hidden {
    display: none;
}