body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

nav {
    text-align: left;
}

#article {
    border: solid, 2px;
    width: 70vw;
    height: auto;
    padding: 10px;
    margin: auto;
    text-align: justify;
    margin-bottom: 10px;
}

#articleImage {
    height: 28vh;
    width: auto;
}

.wrappedImageDiv {
    float: right;
    margin: 5px;
    margin-left: 15px;
}

.wrappedTextDiv {
    text-align: left;
}

#articleTitle {
    text-align: center;
}

.bottomText {
    width: 70vw;
    margin: auto;
    font-size: large;
}

#questionCounter {
    display: flex;
    justify-self: left;
    font-style: italic;
}

.bottomButtons {
    display: flex;
    justify-content: space-evenly;
    width: 50vw;
    margin: auto;
}

.bottomButtons button {
    width: 75px;
    height: 30px;
    font-weight: bold;
    font-size: large;
}