body {
    font-family: Arial, sans-serif;

    width: 96vw;
    height: 96.5vh;
    background-color: rgb(151, 209, 222);
    overflow-x: hidden;
}

.extensionContainer {
    width: 100%;
}

.secondWordInH1 {
    color: white;
}

.h1Container {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin-top: 5vh;
    border-radius: 7px;
    padding: 6px;
    cursor: pointer;
    margin-top: 6vh;
}

button:hover {
    background-color: gray;
    color: white;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 6px;
}

.textBoxContainer {
    margin: auto;
    margin-top: 20px;
    width: 80vw;
    height: 24vh;
    background-color: white;
    border-color: black 2px;
    border-radius: 20px;
}

#textContainer {
    padding-top: 20px;
    padding-left: 15px;
}

/* Hieronder is de css voor de percentage circles */

/* .flex-wrapper {
    display: flex;
    flex-direction: column;
    
} */

.single-chart {
    width: 33%;
    justify-content: space-around;
    scale: 1;
}

.hidden{
    display: none;
}

.hiddenBox{
    display: none;
}


.circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 4;
    
}

.circle {
    fill: none;
 
    stroke-width: 3;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

.circular-chart.orange .circle {
    stroke: #ff9f00;
}

.circular-chart.green .circle {
    stroke: #4CC790;
}

.percentage {
    fill: #666;
    font-family: sans-serif;
    font-size: 0.7em;
    font-weight: bold;
    text-anchor: middle;
}